{
    "branches": [
        "main"
    ],
    "repositoryUrl": "https://github.com/hoangphan1509/github-action-test.git",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/git"
    ]
}